{{!

	The template for displaying the footer

	Contains the closing of the #content div and all content after.
	
	@package stephendltg
	
}}
</div><!-- #content -->

	<footer id="colophon" class="site-footer" role="contentinfo">
		<div class="site-info">
			<a href="{{developper-link}}">{{@ Proudly powered by {{developper}} @}}</a>
			<span class="sep"> | </span>
            {{@Theme: {{theme}} by {{designer}}. @}}
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->

{{wp_footer}}

</body>
</html>