{{>get_header}}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		{{#have_posts}}

			{{#is_home}}
				<header>
					<h1 class="page-title screen-reader-text"><?php single_post_title(); ?></h1>
				</header>
			{{/is_home}}

			/* Start the Loop */
			{{#posts-id}}

				/*
				 * Include the Post-Format-specific template for the content.
				 * If you want to override this in a child theme, then include a file
				 * called content-___.php (where ___ is the Post Format name) and that will be used instead.
				 */
				get_template_part( 'template-parts/content', get_post_format() );

			{{/posts-id}}

			{{posts-navigation}}

		{{/have_posts}}
		
		{{^have_posts}}

			get_template_part( 'template-parts/content', 'none' );

		{{/have_posts}}

		</main><!-- #main -->
	</div><!-- #primary -->


{{>get_sidebar}}
{{>get_footer}}